:root {
  --theme-customizer-bg-color: #8b85d5;
  --theme-customizer-button-bg: #9995db;
  --theme-customizer-border-color: #ddd;
  --theme-customizer-border-color-2: #3b3b3b;
}

.theme-customizer {
  border: 3px solid var(--theme-customizer-border-color);
  max-width: 15%;
  margin: 10px;
  padding: 20px;

  background-color: var(--theme-customizer-bg-color);
  opacity: 0.6;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 0px;
  padding-top: 0px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-selector {
  border: 3px solid var(--theme-customizer-border-color);
  width: 60%;
  max-width: 60%;
  margin: 10px;
  padding: 10px;
  background-color: var(--theme-customizer-bg-color);
  opacity: 0.6;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

select {
  max-width: 70%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: 4px solid var(--theme-customizer-border-color);
  border-radius: 10px;
  height: 30px;
  margin: 4px;
}

.theme-button {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--theme-customizer-border-color-2);
  padding-bottom: 4px;
  padding-top: 4px;
  line-height: 1;
  background-color: var(--theme-customizer-button-bg);
}

#theme-text {
  text-align: center;
}

.theme-name {
  opacity: 0.9;
  font-size: larger;
}

.log-buttons,
.top-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 0px;
  padding-top: 10px;
}

.top-buttons {
  justify-content: space-between;
  margin-bottom: 5px;
}

.top-right-buttons {
  justify-content: flex-end;
  justify-self: flex-end;
  justify-items: flex-end;
}

#drag-checkbox {
  justify-content: flex-start;
  font-weight: normal;
  display: inline-flex;
  font-size: 12px;
  align-items: center;
}

#component-title {
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: underline double var(--theme-customizer-border-color) 1px;
}

.log-buttons {
  margin-top: 10px;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls div {
  display: flex;
  line-height: 1;
  justify-content: left;
  align-items: center;
}

div.controls {
  margin-top: 10px;
}

input {
  max-width: 25%;
  line-height: 1.5;
}

.unit-appender {
  display: flex;
  max-width: fit-content;
}

.appended-unit {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

div.unit-appender {
  max-width: min-content;
}

label {
  margin-right: 5px;
  font-weight: bold;
}

select.main-select {
  margin-bottom: 20px;
}
