#main {
  /* HomeFrameDark */
  width: 100vw;
  height: 100vh;

  background: #3b3b3b;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home-content {
  display: flex;
  padding-left: 20%;
  align-items: center;
}

#homeImage {
  position: relative;
  width: 209px;
  height: 195px;

  border-radius: 90px;
  margin-right: 100px;

  transform: scale(1.2);
  transform-origin: center;
}

#home-text-group {
  /* HomeTextGroup */

  position: relative;
  width: 50%;
  text-align: left;
  font-style: normal;
  font-weight: 800;
  font-family: "Roboto";
  color: #ffffff;
}

#mainText {
  font-size: 40px;
  line-height: 47px;
}

#subText {
  font-size: 16px;
  line-height: 19px;
}
