/* Create separate css for elements different between theme changes */

#main {
  /* HomeFrameDark */
  width: 100vw;
  height: 100vh;

  background: var(--primary-bg-color);
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home-content {
  display: flex;
  padding-left: 10%;
  justify-content: space-evenly;
  align-items: center;
}

#homeImage {
  position: relative;
  width: 209px;
  height: 195px;

  border-radius: 90px;
  margin-right: 100px;

  transform: scale(1.2);
  transform-origin: center;
}

#home-text-group {
  /* HomeTextGroup */

  position: relative;
  max-width: 60%;
  text-align: left;
  font-style: normal;
  font-weight: 800;
  font-family: var(--primary-font-family);
  color: var(--secondary-text-color);
}

#mainText {
  font-size: var(--main-text-font-size);
  line-height: 47px;
}

#subText {
  font-size: var(--sub-text-font-size);
  line-height: 19px;
}

#border-left,
#border-right {
  position: fixed;
  width: var(--side-border-width);
  height: 100%;

  background: var(--side-border-bg-color);
  overflow: hidden;
  display: var(--side-border-display);
  justify-content: center;
  align-items: center;
  /*
  background: #d9d9d9;
  mix-blend-mode: multiply;
  */
}

#border-left {
  left: 0;
}

#border-right {
  right: 0;
}

.full-border-dark #border-left,
.full-border-dark #border-right {
  display: block;
}

.full-border-light #border-left,
.full-border-light #border-right {
  display: block;
  background: #b4b4b4;
}
