#image-display-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vertical-line {
  width: 2px; /* Line width */
  height: 30px; /* Line height */
  background-color: #000; /* Line color */
  margin-right: 20px; /* Space between the line and the title */
}

#image-display-page .project-link-button {
  display: none;
}
