/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1005;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
}

.modal-image {
  overflow: auto;
  /*
    width: 100%;
  max-width: 100%;
  max-height: 100vh; */
  cursor: grab;
}

.modal-image:active {
  cursor: grabbing;
}

/* Gallery.css */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  margin: 5px;
}

.gallery-image {
  max-width: 100%;
  cursor: pointer;
}
