#header {
  position: absolute;
  width: 100vw;
  height: 94px;
  left: 0px;
  top: 0px;

  background: #343434;
  /*
  background: #d9d9d9;
  mix-blend-mode: multiply;
  */
}

#siteTitle {
  position: absolute;
  width: 177px;
  height: 58px;
  left: 15px;
  top: 21px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: #ce721d;
}

#navBar {
  /* NavBarPillBox */

  box-sizing: border-box;

  position: absolute;
  width: 367px;
  height: 47px;
  left: 216px;
  top: 25px;

  background: #f5f5f5;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#navBar ul {
  display: flex; /* Use Flexbox for <ul> */
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

#navBar ul li {
  margin-right: 20px; /* Adjust spacing between list items */
}

#navBar ul li:last-child {
  margin-right: 0; /* Remove margin from last list item */
}

#navBar ul li a {
  text-decoration: none; /* Remove underline from links */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;

  color: #3b3b3b;
}

#toggleDiv {
  /* LightDarkToggle */
  position: absolute;
  width: 110px;
  height: 48px;
  left: 675px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.icon {
  left: 95.83%;
  right: -87.5%;
  top: 20.83%;
  bottom: 20.83%;
  width: 24px;
  height: 24px;
}

.toggle {
}
/* Toggle_light

Keywords: on, off, switch
*/

position: absolute;
width: 48px;
height: 48px;
left: 754px;
top: 10px;

background: #3b3b3b;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Icon */

position: absolute;
left: 95.83%;
right: -87.5%;
top: 20.83%;
bottom: 20.83%;

border: 4px solid #9893da;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Toggle_dark

Keywords: on, off, switch
*/

position: absolute;
width: 48px;
height: 48px;
left: 706px;
top: 10px;

background: #3b3b3b;

/* Icon */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 20.83%;
bottom: 20.83%;

border: 4px solid #9893da;

/* dark_mode */

position: absolute;
width: 24px;
height: 24px;
left: 761px;
top: 20px;

background: #3b3b3b;

/* icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

background: #9893da;

/* light_mode */

position: absolute;
width: 24px;
height: 24px;
left: 675px;
top: 20px;

background: #3b3b3b;

/* icon */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;

background: #9893da;
