.video-gallery-masonry {
  display: flex;
  margin-left: -10px; /* Adjust to your spacing */
  width: auto;
}

.video-gallery-masonry-column {
  padding-left: 10px; /* Adjust to your spacing */
  background-clip: padding-box;
}

.video-gallery-item {
  margin-bottom: 10px; /* Adjust to your spacing */
}

.video-gallery-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  background: #ccc; /* Placeholder background */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.video-fullscreen {
  max-width: 90%;
  max-height: 90%;
}

.close-overlay {
  position: absolute;
  top: 20px;
  right: 20vw;
  background: rgba(95, 6, 6, 0.8);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  z-index: 1001; /* Ensure it is above the video */
}

.video-thumbnail {
  height: 500px;
}
