/* Gallery.css */
.gallery-masonry {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  max-width: 70%;
}

.gallery-masonry-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.gallery-item {
  margin-bottom: 30px;
}

.gallery-image {
  width: 100%;
  display: block;
  object-fit: cover;
}
