/* Gallery.css */
.gallery-masonry {
  justify-content: center;
  display: flex;
  width: 80%;
  margin: auto;
  padding: auto;
}

.gallery-masonry-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.gallery-item {
  padding-bottom: 30px;
}

.gallery-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.image-button {
  border: none; /* Remove border */
  background: none; /* Remove background */
  padding: 0; /* Remove padding */
  cursor: pointer; /* Show pointer cursor */
}

/* new stuff below */
